# To find the age of person with respect to his intersest of doing things using Gradient Boosting Regressor Algorithm.

In [15]:
import numpy as np
import pandas as pd

In [13]:
data=pd.read_csv("/content/gradient boosting data.csv")

In [14]:
data.head()

  LikesToDoExercise LikesToGoToGym LikesToDriveCar  Age
0                no            yes             yes   14
1                no            yes              no   15
2                no            yes              no   16
3               yes            yes             yes   26
4                no            yes             yes   36

In [16]:
data["LikesToDoExercise"]=data["LikesToDoExercise"].apply({'yes':1,'no':0}.get)

data["LikesToGoToGym"]=data["LikesToGoToGym"].apply({'yes':1,'no':0}.get)

data["LikesToDriveCar"]=data["LikesToDriveCar"].apply({'yes':1,'no':0}.get)

In [17]:
data.head()

   LikesToDoExercise  LikesToGoToGym  LikesToDriveCar  Age
0                  0               1                1   14
1                  0               1                0   15
2                  0               1                0   16
3                  1               1                1   26
4                  0               1                1   36

In [18]:
x=data.iloc[:,:-1]

x.head()

   LikesToDoExercise  LikesToGoToGym  LikesToDriveCar
0                  0               1                1
1                  0               1                0
2                  0               1                0
3                  1               1                1
4                  0               1                1

In [19]:
y=data.iloc[:,-1]

y.head()

0    14
1    15
2    16
3    26
4    36
Name: Age, dtype: int64

In [20]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.5)

In [21]:
from sklearn.ensemble import GradientBoostingRegressor

model=GradientBoostingRegressor(n_estimators=2, learning_rate=1)

model.fit(x_train,y_train)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=2,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [22]:
prediction=model.predict(x_test)

prediction

array([50., 25., 16., 50., 25., 50.])

In [23]:
model.score(x,y)

0.5482529917816119

Finding the age of a new person based on his habits

In [24]:
data.head()

   LikesToDoExercise  LikesToGoToGym  LikesToDriveCar  Age
0                  0               1                1   14
1                  0               1                0   15
2                  0               1                0   16
3                  1               1                1   26
4                  0               1                1   36

In [36]:
data_new={'LikesToDoExercise':0,'LikesToGoToGym':1,'LikesToDriveCar':1}

index=[1]

In [37]:
new_person=pd.DataFrame(data_new,index)

new_person

   LikesToDoExercise  LikesToGoToGym  LikesToDriveCar
1                  0               1                1

In [38]:
prediction_new=model.predict(new_person)

print("The Age prediction for the new Person is ", prediction_new)

The Age prediction for the new Person is  [25.]

# Hence the Age prediction of a person who does not likes to do exercise, but likes to go to gym and likes to drive a car is 25 years.