# USE K MEANS CLUSTERING ALGORITHM TO CLUSTER THE DATAS IN THE DATASET.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data=pd.read_csv("/content/Country clusters.csv")

In [ ]:
data.head()

   Country  Latitude  Longitude Language
0      USA     44.97    -103.77  English
1   Canada     62.40     -96.80  English
2   France     46.75       2.40   French
3       UK     54.01      -2.53  English
4  Germany     51.15      10.40   German

In [ ]:
x=data.iloc[:,1:3]                # Only latitude and longitude variable is used for clustering

x.head(6)

   Latitude  Longitude
0     44.97    -103.77
1     62.40     -96.80
2     46.75       2.40
3     54.01      -2.53
4     51.15      10.40
5    -25.45     133.11

In [ ]:
from sklearn.cluster import KMeans                      # Using K means clustering

model=KMeans(3)               #3 Denotes number of centroids

model.fit(x)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [22]:
cluster_prediction = model.fit_predict(x)

print(cluster_prediction)

[1 1 0 0 0 2]

# FROM THE OUTPUT WE CAN SAY THAT FIRST TWO DATAS ARE CLUSTERED TOGHETHER NAMED AS CLUSTER 1, THIRD, FOURTH AND FIFTH DATAS ARE CLUSTERED INTO ANOTHER, NAMED CLUSTER 0 AND THE SIXTH IS CLUSTERED AS AN ANOTHER ONE NAMED AS CLUSTER 2.