# Linear Regression used on inbuilt dataset called Boston

In [5]:
import numpy as np
import pandas as pd

In [6]:
from sklearn import datasets             # importing built in datasets

In [43]:
boston_dataset=datasets.load_boston()

# Since boston dataset is not in DataFrame format we will convert this datasets into DataFrame format

In [46]:
boston_rc=pd.DataFrame(boston_dataset.data)  # Converting boston dataset into into data frame format

boston_rc.columns=boston_dataset.feature_names

boston_ary=np.asarray(boston_dataset.target)  

boston_rc['House_price'] = pd.Series(boston_ary)

In [48]:
boston_dt.head(10)   # Displaying the first 10 rows of the boston dataset

      CRIM    ZN  INDUS  CHAS  ...  PTRATIO       B  LSTAT  House_price
0  0.00632  18.0   2.31   0.0  ...     15.3  396.90   4.98         24.0
1  0.02731   0.0   7.07   0.0  ...     17.8  396.90   9.14         21.6
2  0.02729   0.0   7.07   0.0  ...     17.8  392.83   4.03         34.7
3  0.03237   0.0   2.18   0.0  ...     18.7  394.63   2.94         33.4
4  0.06905   0.0   2.18   0.0  ...     18.7  396.90   5.33         36.2
5  0.02985   0.0   2.18   0.0  ...     18.7  394.12   5.21         28.7
6  0.08829  12.5   7.87   0.0  ...     15.2  395.60  12.43         22.9
7  0.14455  12.5   7.87   0.0  ...     15.2  396.90  19.15         27.1
8  0.21124  12.5   7.87   0.0  ...     15.2  386.63  29.93         16.5
9  0.17004  12.5   7.87   0.0  ...     15.2  386.71  17.10         18.9

[10 rows x 14 columns]

# Dividing the data into independent columns and dependent columns.

In [49]:
x=boston_rc.iloc[:,:-1]           # Selecting all the rows but excluding the last column.

y=boston_rc.iloc[:,-1]            # Selecting all the rows of the last column.

x.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [50]:
y.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: House_price, dtype: float64

In [51]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [52]:
from sklearn.linear_model import LinearRegression

model=LinearRegression()

model.fit(x_train,y_train)


prediction=model.predict(x_test)

In [53]:
prediction[0:5]

array([26.62926261, 23.67523434, -3.84889032, 23.81980064, 27.18126278])

# To estimate the coefficient of the columns

In [70]:
lreg_coefficient=pd.DataFrame()

lreg_coefficient["Columns"] = x_train.columns

lreg_coefficient["Coefficient Estimate"] =pd.Series(model.coef_) # Estimating the coefficient for all the columns in the dataset

print(lreg_coefficient)

    Columns  Coefficient Estimate
0      CRIM             -0.126171
1        ZN              0.048513
2     INDUS              0.017074
3      CHAS              3.230481
4       NOX            -18.589469
5        RM              3.647743
6       AGE             -0.004764
7       DIS             -1.514360
8       RAD              0.301524
9       TAX             -0.013350
10  PTRATIO             -0.983242
11        B              0.007717
12    LSTAT             -0.472176

In [57]:
model.score(x,y)

0.7384119562848492