# USING LOGISTIC REGRESSION TO FIND OUT WHETHER A PERSON HAS BREAST CANCER OR NOT.

In [1]:
# importing packages

import pandas as pd
import numpy as np

In [4]:
data=pd.read_csv("/content/Breast_cancer_data.csv")

In [5]:
data.head()

   mean_radius  mean_texture  ...  mean_smoothness  diagnosis
0        17.99         10.38  ...          0.11840          0
1        20.57         17.77  ...          0.08474          0
2        19.69         21.25  ...          0.10960          0
3        11.42         20.38  ...          0.14250          0
4        20.29         14.34  ...          0.10030          0

[5 rows x 6 columns]

# DIVIDING THE DATA INTO INDEPENDENT COLUMNS AND DEPENDENT COLUMN

In [6]:
x=data.iloc[:,:-1]   # INDEPENDENT COLUMNS

x.head()

   mean_radius  mean_texture  mean_perimeter  mean_area  mean_smoothness
0        17.99         10.38          122.80     1001.0          0.11840
1        20.57         17.77          132.90     1326.0          0.08474
2        19.69         21.25          130.00     1203.0          0.10960
3        11.42         20.38           77.58      386.1          0.14250
4        20.29         14.34          135.10     1297.0          0.10030

In [7]:
y=data.iloc[:,-1]            # DEPENDENT COLUMNS

y.head()

0    0
1    0
2    0
3    0
4    0
Name: diagnosis, dtype: int64

# TRAINING THE DATA INTO TRAINING SET AND TESTING SET

In [13]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25) # 25% OF DATA WILL BE USED FOR TESTING PURPOSE AND THE REMAINING WILL BE USED FOR TRAINING PURPOSE

In [14]:
from sklearn.linear_model import LogisticRegression

model=LogisticRegression()

model.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [15]:
prediction=model.predict(x_test)

In [16]:
prediction

array([1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1])

In [17]:
from sklearn.metrics import confusion_matrix, accuracy_score

cm=confusion_matrix(y_test,prediction)

ac=accuracy_score(y_test,prediction)

print(cm)

[[55  9]
 [ 5 74]]

In [18]:
print("Accuracy score is ", ac)

Accuracy score is  0.9020979020979021

# ACCURACY OF THE MACHINE LEARNING MODEL IS 90.20 %

# Predicting that the person is having breast cancer or not on a new data

In [19]:
data.head()

   mean_radius  mean_texture  ...  mean_smoothness  diagnosis
0        17.99         10.38  ...          0.11840          0
1        20.57         17.77  ...          0.08474          0
2        19.69         21.25  ...          0.10960          0
3        11.42         20.38  ...          0.14250          0
4        20.29         14.34  ...          0.10030          0

[5 rows x 6 columns]

In [20]:
data_new={'mean_radius':18.00,'mean_texture':22.00,'mean_perimeter':127.00,'mean_area':1200.0,'mean_smoothness':0.0745}

index=[1]

In [21]:
new_patient=pd.DataFrame(data_new,index)

new_patient

   mean_radius  mean_texture  mean_perimeter  mean_area  mean_smoothness
1         18.0          22.0           127.0     1200.0           0.0745

In [22]:
prediction_new=model.predict(new_patient)

print("The prediction for breast cancer on a new patient is ", prediction_new)

The prediction for breast cancer on a new patient is  [0]

# IF WE ASUME THAT [0] STANDS FOR "NO BREAST CANCER" AND [1] STANDS FOR "HAVING BREAST CANCER" THEN THE PREDICTION MADE FOR A NEW PATIENT IS SHE DOES NOT HAVE A BREAST CANCER" SINCE THE PREDICTION_NEW OUTPUT IS [0].