# To predict whether a player can play on a particular weather condition using Naive Bayes (Gaussian) Algorithm.

In [111]:
import numpy as np
import pandas as pd

In [112]:
data=pd.read_csv("/content/weather condition play data.csv")

In [113]:
data.head()

   Sr No Weather Condition Play
0      1             Rainy  yes
1      2             Sunny  yes
2      3          Overcast  yes
3      4          Overcast  yes
4      5             Sunny   no

In [114]:
data["Weather Condition"]=data["Weather Condition"].apply({'Rainy':1,'Sunny':2,'Overcast':3}.get)

In [115]:
data.head()

   Sr No  Weather Condition Play
0      1                  1  yes
1      2                  2  yes
2      3                  3  yes
3      4                  3  yes
4      5                  2   no

In [116]:
data["Play"]=data["Play"].apply({'yes':1,'no':0}.get)

In [117]:
data.head(14)

    Sr No  Weather Condition  Play
0       1                  1     1
1       2                  2     1
2       3                  3     1
3       4                  3     1
4       5                  2     0
5       6                  1     1
6       7                  2     1
7       8                  3     1
8       9                  1     0
9      10                  2     0
10     11                  2     1
11     12                  1     0
12     13                  3     1
13     14                  3     1

In [118]:
df=data.drop('Sr No',axis=1)

df.head()

   Weather Condition  Play
0                  1     1
1                  2     1
2                  3     1
3                  3     1
4                  2     0

In [119]:
x=df.iloc[:,:-1]  # Independent Column

x.head()

   Weather Condition
0                  1
1                  2
2                  3
3                  3
4                  2

In [120]:
y=df.iloc[:,-1] # Outcome is a dependent column.

y.head()

0    1
1    1
2    1
3    1
4    0
Name: Play, dtype: int64

In [121]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y, test_size =0.55)

In [122]:
from sklearn.naive_bayes import GaussianNB

model=GaussianNB()

model.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [123]:
prediction=model.predict(x_test)

prediction

array([0, 1, 1, 1, 1, 0, 1, 0])

In [124]:
from sklearn.metrics import confusion_matrix, accuracy_score

cf= confusion_matrix(y_test,prediction)

ac= accuracy_score(y_test,prediction)

In [125]:
print(cf)

[[1 1]
 [2 4]]

In [126]:
print("The accuracy of the model is ", ac*100, "%")

The accuracy of the model is  62.5 %

# Predicting whether a player can play on a particular weather condition using Naive Bayes Algorithm.

In [127]:
df.head()

   Weather Condition  Play
0                  1     1
1                  2     1
2                  3     1
3                  3     1
4                  2     0

In [128]:
data_new={'Weather Condition':1} # Weather Condition : Rainy

index=[1]

In [129]:
data_new_condition=pd.DataFrame(data_new,index)

data_new

{'Weather Condition': 1}

In [130]:
prediction_new=model.predict(data_new_condition)

print("Whether a player can play or not during rainy condition is ", prediction_new)

Whether a player can play or not during rainy condition is  [0]

# Output [0] specifies No and [1] specifies yes. 

# Hence the possibility of a player playing on a Rainy condition is No.