# USING RANDOM FOREST ALGORITHM ON BANK NOTE AUTHENTICATION DATASET FIND WHETHER THE NEW NOTE IS REAL OR NOT.

In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv("/content/BankNoteAuthentication.csv")

In [6]:
data.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [7]:
x=data.iloc[:,:-1]                # INDEPENDENT COLUMNS.

x.head()

   variance  skewness  curtosis  entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [8]:
y=data.iloc[:,-1]                 # DEPENDENT COLUMNS.

y.head()

0    0
1    0
2    0
3    0
4    0
Name: class, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test= train_test_split(x,y, test_size=0.2)

In [10]:
from sklearn.ensemble import RandomForestClassifier

model=RandomForestClassifier(n_estimators=20)              # USING RANDOM FOREST ALGORITHM


model.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=20,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [12]:
prediction= model.predict(x_test)

prediction

array([0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1,
       1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0])

In [13]:
from sklearn.metrics import confusion_matrix, accuracy_score

cf=confusion_matrix(y_test,prediction)

ac=accuracy_score(y_test,prediction)


print(cf)

[[149   2]
 [  0 124]]

In [14]:
print("The accuracy of the model is ", ac*100, "%")

The accuracy of the model is  99.27272727272727 %

# Predicting whether the note is fake or not for a new note.

In [15]:
data.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [31]:
data_new={'variance':2.8956,'skewness':5.5895,'curtosis':-2.698,'entropy':-3.2586}

index=[1]

In [32]:
new_note=pd.DataFrame(data_new,index)

new_note

   variance  skewness  curtosis  entropy
1    2.8956    5.5895    -2.698  -3.2586

In [34]:
prediction_new=model.predict(new_note)


print("The authentication for the new note is ", prediction_new)

The authentication for the new note is  [0]

# SINCE THE OUTPUT FOR THE PREDICTION OF NEW NOTE IS [0], THE NEW NOTE IS FAKE.