# RIDGE REGRESSION USED IN INBUILT DATASET CALLED BOSTON

In [13]:
#importing packages

import numpy as np
import pandas as pd

from sklearn import datasets

In [16]:
boston_dataset=datasets.load_boston()  # LOAD BOSTON DATASET

In [24]:
boston_pd=pd.DataFrame(boston_dataset.data)

boston_pd.columns=boston_dataset.feature_names

boston_pd_target=np.asarray(boston_dataset.target) 

boston_pd["House_Price"]=pd.Series(boston_pd_target)

In [25]:
boston_pd.head()

      CRIM    ZN  INDUS  CHAS  ...  PTRATIO       B  LSTAT  House_Price
0  0.00632  18.0   2.31   0.0  ...     15.3  396.90   4.98         24.0
1  0.02731   0.0   7.07   0.0  ...     17.8  396.90   9.14         21.6
2  0.02729   0.0   7.07   0.0  ...     17.8  392.83   4.03         34.7
3  0.03237   0.0   2.18   0.0  ...     18.7  394.63   2.94         33.4
4  0.06905   0.0   2.18   0.0  ...     18.7  396.90   5.33         36.2

[5 rows x 14 columns]

In [27]:
x=boston_pd.iloc[:,:-1]         # INDEPENDENT COLUMNS

x.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [28]:
y=boston_pd.iloc[:,-1]        # DEPENDENT COLUMNS

y.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: House_Price, dtype: float64

In [29]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [30]:
from sklearn.linear_model import Ridge

model=Ridge(alpha=1)  # ALPHA IS THE PENALISING PARAMETER

model.fit(x_train,y_train)

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None, normalize=False,
      random_state=None, solver='auto', tol=0.001)

In [31]:
prediction=model.predict(x_test)

prediction[0:5]

array([32.91412337, 21.9792158 , 30.41880358, 20.39405603, 24.83706476])

In [33]:
Ridge_coefficient=pd.DataFrame()

Ridge_coefficient["columns"]=x_train.columns


Ridge_coefficient["Coefficient_Estimate"]=pd.Series(model.coef_)

print(Ridge_coefficient)

    columns  Coefficient_Estimate
0      CRIM             -0.123139
1        ZN              0.057378
2     INDUS              0.003675
3      CHAS              2.926264
4       NOX             -9.144604
5        RM              3.875042
6       AGE              0.006627
7       DIS             -1.322798
8       RAD              0.327206
9       TAX             -0.012879
10  PTRATIO             -0.786860
11        B              0.012532
12    LSTAT             -0.598693

In [34]:
model.score(x,y)

0.7341643952204018

# Accuracy of the model is 73.416  percentage